# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# env (IMPORTANTE)
.env
.env.*
!.env.example

# build
build/
coverage/

# typescript
*.tsbuildinfo

# misc
*.pem

# example app
app-example

# generated native folders (ok ignorar no Expo managed)
/ios
/android